html, body {
  background: url("../assets/background.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
  font-style: normal;
}

button {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  width: 120px;
  height: 35px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
  color: black;
  border-color: grey;
  border-width: 2px;
  border-radius: 5px;
  margin: 10px;
  font-family: "JetBrains Mono", monospace;
  font-weight: bolder;
  font-style: normal;
  font-size: smaller;
}

button:hover {
  background: linear-gradient(to bottom, #F9D862 0%, #FAB549 50%, #F79A3A 51%, #F8842D 100%);
  border-color: orange;
}

button.disabled {
  background: linear-gradient(to bottom, #393939ff 25%, #323232 50%, #212121 75%, #101010 100%);
  color: grey;
  border: transparent;
  cursor: not-allowed;
}

hr {
	border: 0.5px solid white;
}

h1 {
  text-align: center;
}

h3, h4 {
  margin-bottom: 10px;
}

li {
  margin-bottom: 20px;
}

#header {
  height: 25%;
  width: 100%;
  border-bottom: 3px solid white;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#headerButtonsArea {
  margin-top: 15px;
}

.screenSize {
  width: 100%;
  height: 75%;
  display: none;
  overflow: auto;
}

.box {
  margin: auto;
  height: auto;
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 40px;
	padding-top: 10px;
	border: 3px solid white;
	border-radius: 20px;
}
