.dice {
  width: 9%;
  height: 40%;
  margin: 5%;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
}

#diceArea {
  right: 0;
  width: 20%;
  border-left: 2px solid;
  background: rgba(0, 0, 0, 0.1);
}

#diceTitle {
  height: 15%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.4);
}

#diceContent {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

#diceCombinationValue {
  border: 2px solid white;
  border-radius: 15px;
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background: rgba(0,0,0,0.4);
}

#dice {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

#dice1, #dice2, #dice3, #dice4 {
  background-color: rgb(49, 26, 2);
  height: 100%;
}

#diceCombinationValueName {
  height: 5%;
  width: 100%;
  margin: 10px;
  align-content: center;
  font-size: large;
}

#rollDiceButton {
  width: 80%;
  height: 15%;
  font-size: large;
}
