#playScreen {
  margin: 0;
  text-align: center;
  justify-content: space-between;
  box-sizing: border-box;
}

#remainingPiecesArea {
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

#bluePiecesRemaining {
  color: rgba(58, 176, 255);
}

#redPiecesRemaining {
  color: rgb(225, 59, 50);
}

.boardButtonsArea {
  height: 18%;
  width: 100%;
}

#toggleBoardNumbersButton {
  width: 100%; 
  height: 10%; 
  margin: 0px; 
  flex: 0 0 auto;
  font-size: medium;
}

#startGameButtonArea {
  display: flex; 
  justify-content: center;
}

#startGameButton {
  width: 23%;
  height: 80%;
  font-size: large;
}

#forfeitPassTurnButtonArea {
   display: none; 
  justify-content: center; 
}

#forfeitButton {
  width: 23%;
  height: 80%;
  font-size: large;
  margin-right: 15%;
}

#passTurnButton {
  width: 23%;
  height: 75%;
  font-size: large;
  margin-left: 15%;
}
