#rankingsScreen {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.floatTextRightRankings {
  float: right;
}

#rankingsBox {
	width: 15%;
  text-align: left;
}
