.inputField {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
}

#registerScreen {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#registerBox {
	width: 15%;
}

#registerHr {
  margin-top: 30px;
  margin-bottom: 30px;
}
