html, body {
  background: url("assets/background.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
  font-style: normal;
}

button {
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  width: 120px;
  height: 35px;
  background: linear-gradient(to bottom, #FFFFFF 0%, #F1F1F1 50%, #E1E1E1 51%, #F6F6F6 100%);
  color: black;
  border-color: grey;
  border-width: 2px;
  border-radius: 5px;
  margin: 10px;
  font-family: "JetBrains Mono", monospace;
  font-weight: bolder;
  font-style: normal;
  font-size: smaller;
}

button:hover {
  background: linear-gradient(to bottom, #F9D862 0%, #FAB549 50%, #F79A3A 51%, #F8842D 100%);
  border-color: orange;
}

button.disabled {
  background: linear-gradient(to bottom, #393939ff 25%, #323232 50%, #212121 75%, #101010 100%);
  color: grey;
  border: transparent;
  cursor: not-allowed;
}

hr {
	border: 0.5px solid white;
}

h4 {
  margin-bottom: 10px;
}


#header {
  height: 25%;
  width: 100%;
  border-bottom: 3px solid white;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  display: flex;
}


.screenSize {
  width: 100%;
  height: 75%;
  display: none;
  overflow: auto;
}

.box {
  margin: auto;
  height: auto;
  text-align: center;
  background: rgba(0,0,0,0.4);
  padding: 40px;
	padding-top: 10px;
	border: 3px solid white;
	border-radius: 20px;
}

.inputField {
  width: 80%;
  height: 20px;
  border-radius: 5px;
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
}

#loginScreen {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#loginBox {
	width: 15%;
}

#rulesScreen {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#rulesBox {
  margin-top: 25px;
	width: 60%;	
}

#playScreen {
  margin: 0;
  text-align: center;
  justify-content: space-between;
  box-sizing: border-box;
}

#messagesArea {
  width: 20%;
  display: flex;  /* Remove once message button is removed */
  flex-direction: column; /* Remove once message button is removed */
  border-right: 2px solid;
}

#messagesTitle {
  height: 15%;
  border-bottom: 2px solid;
  display: flex; 
  flex: 0 0 auto;         
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.4);
}

#messagesList {
  margin: 0;
  padding: 10px;
  list-style-type: decimal;
  overflow-y: auto;
  flex: 1 1 auto;
  background: rgba(0, 0, 0, 0.1);
}

#messagesList li {
  padding: 6px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  word-wrap: break-word;
}

#messagesList li.new-message {
  background-color: #eae9e1;
  font-weight: bold;
  color: black;
}

#remainingPiecesArea {
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px; /* space between items */
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 0px;
}

#boardArea {
  flex: 1; /* takes up all leftover space */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

#boardContainer {
  display: grid;
  gap: 5px;
  margin: 20px;
  background: linear-gradient(to bottom, #F9D862 25%, #FAB549 50%, #F79A3A 75%, #F8842D 100%);
  padding: 15px;
  border-radius: 10px;
  border: 3px solid orange;
}

.cellBox {
  /* position: relative; */
  /* color: rgb(190, 129, 94); */
  background-color: rgb(128, 59, 10);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.cellPiece {
  position: absolute;
  transition: none;
  width: 45px;
  height: 45px;
  border: 3px dotted rgb(190, 129, 94);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .cellPiece:hover {
  transition: transform 0.15s ease, background 0.15s ease;
  transform: scale(1.08);
} */

.boardButtonsArea {
  height: 18%;
  width: 100%;
}

#startGameButton {
  width: 23%;
  height: 80%;
  font-size: large;
}

#forfeitButton {
  width: 23%;
  height: 80%;
  font-size: large;
  margin-right: 15%;
}

#passTurnButton {
  width: 23%;
  height: 75%;
  font-size: large;
  margin-left: 15%;
}


.dice {
  width: 9%;
  height: 40%;
  margin: 5%;
  border: 2px solid black;
  border-radius: 7px;
  display: flex;
}

#diceArea {
  right: 0;
  width: 20%;
  border-left: 2px solid;
  background: rgba(0, 0, 0, 0.1);
}

#diceTitle {
  height: 15%;
  border-bottom: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  background: rgba(0, 0, 0, 0.4);
}

#diceContent {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

#diceCombinationValue {
  border: 2px solid white;
  border-radius: 15px;
  width: 50%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  background: rgba(0,0,0,0.4);
}

#dices {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

#dice1, #dice2, #dice3, #dice4 {
  background-color: rgb(49, 26, 2);
  height: 100%;
}

#diceCombinationValueName {
  height: 5%;
  width: 100%;
  margin: 10px;
  align-content: center;
  font-size: large;
}

#rollDiceButton {
  width: 80%;
  height: 15%;
  font-size: large;
}


#standingsScreen {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#standingsBox {
	width: 15%;
  text-align: left;
}

#settingsScreen {
  margin: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

#settingsBox {
	width: 40%;
}
